services:
  # ---------- Hadoop Cluster ----------
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    restart: always
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
    env_file:
      - ./hadoop.env
    networks:
      - hadoop
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:9870/"]
      interval: 30s
      retries: 5

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode1
    restart: always
    depends_on:
      namenode:
        condition: service_healthy
    volumes:
      - hadoop_datanode1:/hadoop/dfs/data
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode2
    restart: always
    depends_on:
      namenode:
        condition: service_healthy
    volumes:
      - hadoop_datanode2:/hadoop/dfs/data
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  resourcemanager:
    image: bde2020/hadoop-resourcemanager:2.0.0-hadoop3.2.1-java8
    container_name: resourcemanager
    restart: always
    depends_on:
      namenode:
        condition: service_healthy
      datanode1:
        condition: service_healthy
      datanode2:
        condition: service_healthy
    ports:
      - "8088:8088"
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  nodemanager1:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager1
    restart: always
    depends_on:
      resourcemanager:
        condition: service_healthy
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  nodemanager2:
    image: bde2020/hadoop-nodemanager:2.0.0-hadoop3.2.1-java8
    container_name: nodemanager2
    restart: always
    depends_on:
      resourcemanager:
        condition: service_healthy
    env_file:
      - ./hadoop.env
    networks:
      - hadoop

  # ---------- Hive ----------
  hive-metastore-db:
    image: postgres:13
    container_name: hive-metastore-db
    restart: always
    environment:
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hive
      POSTGRES_DB: metastore
    ports:
      - "5432:5432"
    networks:
      - hadoop

  hive-metastore:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-metastore
    restart: always
    depends_on:
      namenode:
        condition: service_healthy
      datanode1:
        condition: service_healthy
      datanode2:
        condition: service_healthy
      hive-metastore-db:
        condition: service_healthy
    env_file:
      - ./hadoop.env
    environment:
      HIVE_METASTORE_DB_HOSTNAME: hive-metastore-db
      HIVE_METASTORE_DB_NAME: metastore
      HIVE_METASTORE_DB_USERNAME: hive
      HIVE_METASTORE_DB_PASSWORD: hive
    ports:
      - "9083:9083"
    networks:
      - hadoop

  hive-server:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-server
    restart: always
    depends_on:
      hive-metastore:
        condition: service_healthy
      namenode:
        condition: service_healthy
    env_file:
      - ./hadoop.env
    environment:
      HIVE_METASTORE_URI: thrift://hive-metastore:9083
      HIVE_EXECUTION_ENGINE: spark
    ports:
      - "10000:10000"
    networks:
      - hadoop

  # ---------- Spark (Standalone using BDE images) ----------
  spark-master:
    image: bde2020/spark-master:3.2.1-hadoop3.2
    container_name: spark-master
    restart: always
    environment:
      - INIT_DAEMON_STEP=setup_spark
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    ports:
      - "7077:7077"
      - "8081:8080"   # Spark Master UI
    depends_on:
      namenode:
        condition: service_healthy
    networks:
      - hadoop

  spark-worker1:
    image: bde2020/spark-worker:3.2.1-hadoop3.2
    container_name: spark-worker1
    restart: always
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    depends_on:
      spark-master:
        condition: service_healthy
    networks:
      - hadoop

  spark-worker2:
    image: bde2020/spark-worker:3.2.1-hadoop3.2
    container_name: spark-worker2
    restart: always
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    depends_on:
      spark-master:
        condition: service_healthy
    networks:
      - hadoop

volumes:
  hadoop_namenode:
  hadoop_datanode1:
  hadoop_datanode2:

networks:
  hadoop:
